<header class="header">
  <div class="container header-container">
    <a href="#" class="header-logo">
      <img src="/assets/img/logo.png" alt="лого: Luxorides" class="logo">
    </a>

    <nav class="nav">
      <a href="#promo" class="nav-link">Главная</a>
      <a href="#cars" class="nav-link">Автомобили</a>
      <a href="#order" class="nav-link">Бронирование авто</a>
    </nav>
  </div>
</header>

<section class="section promo" id="promo" [ngStyle]="bgPos">
  <div class="container promo-container">
    <h1 class="promo-title">Аренда премиальных автомобилей</h1>
    <p class="promo-description">В нашем клубе имеется солидная коллекция спортивных автомобилей — от достаточно
      распространенных серийных машин до настоящего гоночного эксклюзива. Воспользуйтесь уникальной возможностью
      побывать за рулем настоящей легенды и узнать, на что она способна за пределами гоночной трассы!</p>
    <button class="btn promo-btn" (click)="scrollToElem(cars)">Посмотреть автомобили</button>
  </div>
</section>

<section class="section cars container" id="cars" #cars>
  <h2 class="subtitle cars-title">Наш автопарк</h2>

  <ul class="cars-list">
    <li class="car" *ngFor="let car of carsData">
      <img src="/assets/img/{{ car.image }}" alt="{{ car.name }}" class="car-img">
      <h3 class="car-name">{{ car.name }}</h3>

      <ul class="car-info">
        <li class="feature">
          <img src="/assets/img/gear.svg" alt="шестеренка" class="feature-icon">
          <span class="feature-title">Привод</span>
          <span class="feature-details">{{ car.gear }}</span>
        </li>

        <li class="feature">
          <img src="/assets/img/wheel.svg" alt="колесо" class="feature-icon">
          <span class="feature-title">Двигатель</span>
          <span class="feature-details">{{ car.engine }} л.с.</span>
        </li>

        <li class="feature">
          <img src="/assets/img/belt.svg" alt="пристегнутый человек" class="feature-icon">
          <span class="feature-title">Кол-во мест</span>
          <span class="feature-details">{{ car.seats }}</span>
        </li>
      </ul>
      <button class="btn car-btn" (click)="scrollToElem(order, car.name)">Забронировать</button>
    </li>
  </ul>
</section>

<section class="order" id="order" #order>
  <div class="container order-container">
    <h2 class="subtitle order-title">Узнать цену и забронировать</h2>
    <p class="order-subtitle">Заполните данные, и мы перезвоним вам для уточнения всех деталей бронирования</p>

    <form action="#" method="post" class="order-form" [formGroup]="orderForm" (submit)="onSubmit()">
      <input
        type="text"
        name="name"
        placeholder="Ваше имя"
        class="order-input"
        formControlName="name">
      <span class="order-error"
            *ngIf="_name?.invalid && (_name?.touched || _name?.dirty)"
      >Поле "Имя" должно быть заполнено</span>
      <input
        type="tel"
        name="phone"
        placeholder="Ваш телефон"
        class="order-input"
        formControlName="phone">
      <span class="order-error"
            *ngIf="_phone?.invalid && (_phone?.touched || _phone?.dirty)"
      >Поле "Телефон" должно быть заполнено</span>
      <input
        type="text"
        name="car"
        placeholder="Автомобиль, который вас интересует"
        class="order-input"
        formControlName="car">
      <span class="order-error"
            *ngIf="_car?.invalid && (_car?.touched || _car?.dirty)"
      >Поле "Автомобиль" должно быть заполнено</span>
      <button
        class="btn order-btn"
        [disabled]="!orderForm.valid"
      >Узнать цену
      </button>
      <span class="order-success" *ngIf="isSubmitSuccess"
      >Спасибо за вашу заявку, мы скоро с вами свяжемся!</span>
    </form>

    <img src="/assets/img/rolls.png" alt="Rolls-Royce" class="order-img" [ngStyle]="trans">
  </div>
</section>

<footer class="footer">
  <div class="container footer-container">
    <img src="/assets/img/logo.png" alt="лого: Luxorides" class="logo">
    <span class="footer-copyright">Все права защищены</span>
  </div>
</footer>
